prototyping/*

*/esp32-*/build
*/esp32-*/.vscode
*/esp32-*/sdkconfig*

*__pycache__*

testing/python-serial/data.bin
testing/python-serial/data.bin

*.odt

server/build/*

utils/py-config/*.conf
utils/py-listener/*.bin
utils/py-listener/*.conf
